@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	/* Project page styles */
	/* Clients */
	.client-cards {
		flex-direction: row;
		justify-content: space-between;
	}
	.client-card {
		max-width: 30%;
		margin-bottom: 0;
	}
	
	.client-card-logo {
		min-height: 100px;
	}
	/* Videos */
	.video-examples {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
	}
	
	.video-example {
		flex-basis: auto;
		position: relative;
		width: 45%;
		min-height: 315px;
		margin-bottom: 25px;
		overflow: hidden;
	}
	.video {
		width: 100%;
		height: 100%;
		border: 0;
	}

	/* Gallery */
	.modal-content {
		width: 80%;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.navbar-logo {
		color: rgba(89, 89, 89, 0.7);
	}

	.navbar-toggler {
		display: none;
	}

	.navbar {
		background-color: transparent;
	}

	.navbar > .container {
		flex-wrap: nowrap;
	}

	.nav-item a {
		padding: 0.5rem 1rem;
	}

	.navbar-list-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}