@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.navbar-logo {
		color: rgba(89, 89, 89, 0.7);
	}

	.navbar-toggler {
		display: none;
	}

	.navbar {
		background-color: transparent;
	}

	.navbar > .container {
		flex-wrap: nowrap;
	}

	.nav-item a {
		padding: 0.5rem 1rem;
	}

	.navbar-list-link {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}