/* Common styles */
*, ::after, ::before {
	box-sizing: border-box;
}

a {
	transition: all 0.2s;
}


body,
html {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	height: 100%;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.link {
	text-decoration: none;
}

.link:hover {
	color: #f05f40;
}

/* Navigation styles */
.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	background-color: #ffffff;
	transition: all 0.5s;
}

.navbar>.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.navbar-logo {
	font-weight: bold;
	text-transform: uppercase;
	color: #f05f40;
	font-size: 1.25rem;
	white-space: nowrap;
	padding: 0.5rem;
	margin-right: 1rem;
}

.navbar-list-link {
	display: none;
}
.nav-item {
	display: flex;
}

.nav-item a{
	color: rgba(89, 89, 89, 0.7);
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	font-weight: bold;
}
.nav-item a:hover {
	color: #f05f40;
}

/* Responsive navigation menu */
.navbar-toggler {
	padding: 0.25rem 0.75rem;
	line-height: 0;
	font-size: 1.25rem;
	background-color: transparent;
	border: 1px solid rgba(89, 89, 89, 0.7);
	border-radius: 0.25rem;
	cursor: pointer;
}

.responsive {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex-grow: 1;
}

.responsive > .nav-item a{
	padding: 0.5rem 1rem;
}

/* Home page styles */
/* Header */
.header {
	display: flex;
	align-items: center;
	background-image: url(../img/bg-home.jpg);
	height: 100vh;
	min-height: 650px;
	padding-top: 0;
	padding-bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.header > .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-title-text {
	text-transform: uppercase;
	font-size: 4rem;
	margin-bottom: 0;
	font-weight: bold;
	line-height: 1.2;
	color: #f05f40;
}
.header-title hr {
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 50px;
	border: 3px solid #f05f40
}

.header-subtitle-text {
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	font-size: 1.2rem;
	color: rgba(89, 89, 89, 0.7);
	margin-bottom: 3rem;	
}

.header-link {
	background-color: #f05f40;
	color: #ffffff;
	padding: 1rem 2rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 30px;
	white-space: nowrap;
	transition: background-color 0.2s ease-in-out;
}

.header-link:hover {
	background-color: #ee4b28;
	color: #ffffff;
}

/* Home page footer */
.footer {
	background-color: #f05f40;
}

.footer > .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-creators {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.creator {
	display: flex;
	padding: 0.5rem 2rem;
}

.author {
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: bold;
	color: #ffffff;
}
.e-mail {
	margin-right: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgba(89, 89, 89, 0.7);
}

.e-mail:hover {
	color: #ffffff;
}

/* Projects page styles */
/* Navigation */

/* Header */
.header-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	background-image: url(../img/bg-project-header.jpg);
	min-height: 150px;
	padding-top: 0;
	padding-bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-projects > .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-projects-title {
	display: flex;
	justify-content: center;
	color: rgba(89, 89, 89, 0.7);
	font-size: 28px;
}

/* Main */
/* Clients */
.our-clients {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	padding: 8rem 0;
}
.our-clients > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our-clients-title {
	flex-basis: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.our-clients-title::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #f05f40;
	margin-right: 10px;
}

.our-clients-title::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #f05f40;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.our-clients hr {
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 50px;
	border: 3px solid #f05f40;
	
}

.client-cards {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.client-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 60%;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
}

.client-card-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 150px;
}
.client-card-logo img {
	width: 80%;
	height: auto;
	text-align: center;
}

.circle-logo {
	padding-left: 37%;
	padding-right: 37%;
}

.client-card-descr {
	font-size: 1.25rem;
}

/* Videos */

.examples {
	display: flex;
	align-items: center;
	background-color: #f05f40;
	padding-top: 8rem;
}
.examples > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.examples-title {
	flex-basis: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.examples-title::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #ffffff;
	margin-right: 10px;
}

.examples-title::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #ffffff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.examples hr {
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 50px;
	border: 3px solid #ffffff;
}

.video-examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
}

.video-example {
	position: relative;
	flex-basis: 100%;
	min-height: 315px;
	margin-bottom: 25px;
	overflow: hidden;
}
.video {
	width: 100%;
	height: 100%;
	border: 0;
}

/* Gallery */
.gallery {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	padding: 8rem 0;
}
.gallery > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery-title {
	flex-basis: 100%;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.gallery-title::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #f05f40;
	margin-right: 10px;
}

.gallery-title::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #f05f40;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.gallery hr {
	margin-top: 30px;
	margin-bottom: 30px;
	min-width: 50px;
	border: 3px solid #f05f40;	
}

.gallery-images {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.gallery-img {
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: 0.3s;
}

/* Modal Image */
.gallery-img:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 700px;
}

.modal-content img {
	width: 100%;
	height: auto;
}

/* Caption of Modal Image */
.caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, .caption {    
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
			width: 100%;
	}
}